<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Demo3web</title>

    
</head>
<body>
<h2>Demo3</h2>
<div class="container">
    
    <div th:if="${not #lists.isEmpty(clientes)}">
        <h2>cliente List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}"><a href="/wp/${cliente.id}">Id</a></td>
                <td th:text="${cliente.nombre}">nombre</td>
                <td th:text="${cliente.apellido}">ape</td>
               
                <td><a th:href="${'/cliente/' + cliente.id}">View</a></td>
                <td><a th:href="${'/cliente/edit/' + cliente.id}">Edit</a></td>
                <td><a th:href="${'/cliente/delete/' + cliente.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>